<div class="container fade-in-image table-responsive">
  <table class="table table-striped table-bordered border-light">
    <thead class="text-info border-light">
      <tr>
        <th scope="col">ID</th>
        <th>NOMBRE</th>
        <th>APELLIDO</th>
        <th>CEDULA</th>
        <th>EMAIL</th>
        <th>PAÍS</th>
        <th>DIRECCIÓN</th>
        <th>CELULAR</th>
        <th>CATEGORIA</th>
        <th>ACCIONES</th>
      </tr> 
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios" class="text-secondary">
        <th scope="row">{{ usuario.id }}</th>
        <td [title]="usuario.nombre">{{ usuario.nombre }}</td>
        <td [title]="usuario.apellido">{{ usuario.apellido }}</td>
        <td [title]="usuario.cedula">{{ usuario.cedula }}</td>
        <td [title]="usuario.email">{{ usuario.email }}</td>
        <td [title]="getCountryForId(usuario.pais)">{{ getCountryForId( usuario.pais ) }}</td>
        <td [title]="usuario.direccion">{{ usuario.direccion }}</td>
        <td [title]="usuario.celular">{{ usuario.celular }}</td>
        <td [title]="getCategoryForId(usuario.category_id)">{{ getCategoryForId( usuario.category_id ) }}</td>
        <td class="d-flex">
          <button title="Editar usuario" class="btn mx-2 btn-gml-small" (click)="editar( usuario.id )"><i class="bi bi-pen text-info"></i></button>
          <button title="Eliminar usuario" class="btn btn-gml-small" (click)="eliminarUsuario( usuario.id, usuario.nombre )"><i class="bi bi-trash text-danger"></i></button>
        </td>
      </tr>     
    </tbody>
  </table>
</div>